.footer {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;

  a {
    color: var(--primaryColor);
    margin-left: .42rem;
  }
}

@media print {
  .footer {
    display: none;
  }
}
