.company {
  margin: 0;
}

.meta {
  font-size: small;
  color: var(--secondaryText);
}
.project {
  border-left: 1px solid var(--primaryColor);
  padding-left: 0.9rem;
  margin-bottom: 1.2rem;

  div {
    margin: 0.6rem 0;
  }
}

@media print {
  .project {
    border-color: var(--printColor);
  }
}
